
  @font-face {
    font-family: "iransans";
    src: url("./../fonts/iranSans.woff");
  }


  body  {
    font-family: "iransans";
  
    .Vue-Toastification__toast {
      font-family: 'iransans' !important;
    }
  
  }
  

  
  