// settings.scss
@use 'vuetify/settings' with ($color-pack: true,
  $body-font-family: "iransans",
  $button-text-letter-spacing: 0,
  $overlay-opacity: 80%,
  $navigation-drawer-scrim-opacity: 80%,
  $font-size-root: 14px,
  $spacer: 4px,
  $spacers-steps: 32,
  $shadow-key-umbra-opacity: var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.05)),
  $shadow-key-penumbra-opacity: var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.04)),
  $shadow-key-ambient-opacity: var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.02)),
);